{% extends 'digitalapp/base.html' %}
{% block body %}


    <div class="flex p-10">
        <div>
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftotalcomp.com%2Facculab-manual-va-pi-1624.html&psig=AOvVaw2gH8dqwAdWiJ-_Zh2Sq0-u&ust=1722160483775000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCNCr1fH5xocDFQAAAAAdAAAAABAE"
                     alt="">
        </div>
        <div class="pl-10">
            <div class="tet-4xl mb-4">{{product.name}}</div>
            <div class="mb-4">{{product.description}}</div>
            <div class="mb-4 text-green-700 font-bold">{{product.price}} €</div>
            <div>
                <button id="checkout-button" 
                class="bg-green-500 text-white px-4 py-2 rounded-sm">
                    Buy
                </button>
            </div>
            <div id="myemail" hidden>{{request.user.email}}</div>
        </div>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">

var stripe = Stripe("{{ stripe_publishable_key }}");
  var checkoutButton = document.getElementById("checkout-button");
  checkoutButton.addEventListener("click", function () {
    console.log("Button clicked");
    var email = document.getElementById("myemail").innerText;

    if (email.length == 0) {
      alert("Please enter your email address");
      return;
    }

    fetch("{% url 'api_checkout_session' id=product.id %}", {
      method: 'POST',
      body: JSON.stringify(
        { email: email },
        )
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.sessionId });
      })
      .then(function (result) {
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  });
    </script>

{% endblock %}